@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  .active-tag {
    @apply underline
  }

  .header-tag {
    @apply underline-offset-[6px] decoration-1
  }

  .side-bar-tag {
    @apply relative underline-offset-[6px] decoration-1 w-full flex justify-between items-center
  }

  .slide-btn {
    @apply bg-gray-400 rounded-full w-3 h-3 cursor-pointer
  }

  .active-slide-btn {
    @apply bg-baseRed border-[1.7px]
  }

}

@layer components {

  .header-tag {
    position: relative;
  }

  .side-bar-tag::after, .header-tag::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .header-tag:hover::after, .side-bar-tag:hover::after {
    transform: scaleX(1);
  }

  .line-horizontal {
    width: calc(100% + 96px);
  }

}
